body{
    background-color: #1c94c4;
}
ul,li{
    list-style: none;
}
a{
    text-decoration: none;
}

.nav{
    width: 100%;
    height: 50px;
    display: none;
}

.nav-header{
    width: 100%;
    height: 100%;
}

    .nav-header > h1 a{
        color: #ffffff;
        font-size: 1.3em;
    }
#wrap{
    vertical-align: top;
}
.card-area{
    width: 270px;
    height: calc(100vh - 80px);
    display: inline-block;
    float: left;
    margin-right: 1.5%;
}

.title-form{
    width: 100%;
    height: auto;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 3%;
}
.add-list{
    margin-top: 0.5%;
    width: 270px;
    height: 40px;
    background-color: transparent;
    opacity: .5;
    border-radius: 5px;
    border: none;
}
    .add-list > .list-add-btn{
        width: 100%;
        height: 100%;
    }
    .list-add-btn:hover{
        cursor: pointer;
    }

.list-form{
    background: #e0e0e0;
    border-radius: 5px;
    padding: 5%;
}
.w100{
    width: 100%;
    overflow: hidden;
}
.list-title{
    max-width: calc(100% - 35px);
    display: inline-block;
    color: #555;
    overflow: hidden;
    font-size: 1.2em;
}
.delete-btn{
    float: right;
}
.picview-btn{
    background-color: #3333;
    border: none;
    padding:3%;
    border-radius: 5px;
}
.card-add-btn{
    margin-top: 2%;
}

.form-group {
    margin-bottom: 15px;
}

.form-control{
    height: 46px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 6px;
}