body{
    background-color: #1c94c4;
}
ul,li{
    list-style: none;
}
a{
    text-decoration: none;
}

.nav{
    width: 100%;
    height: 50px;
    display: none;
}

.nav-header{
    width: 100%;
    height: 100%;
}

    .nav-header > h1 a{
        color: #ffffff;
        font-size: 1.3em;
    }
#wrap{
    vertical-align: top;
}
.card-area{
    width: 270px;
    height: calc(100vh - 80px);
    display: inline-block;
    float: left;
    margin-right: 1.5%;
}

.title-form{
    width: 100%;
    height: auto;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 3%;
}
.add-list{
    margin-top: 0.5%;
    width: 270px;
    height: 40px;
    background-color: transparent;
    opacity: .5;
    border-radius: 5px;
    border: none;
}
    .add-list > .list-add-btn{
        width: 100%;
        height: 100%;
    }
    .list-add-btn:hover{
        cursor: pointer;
    }

.list-form{
    background: #e0e0e0;
    border-radius: 5px;
    padding: 5%;
}
.w100{
    width: 100%;
    overflow: hidden;
}
.list-title{
    max-width: calc(100% - 35px);
    display: inline-block;
    color: #555;
    overflow: hidden;
    font-size: 1.2em;
}
.delete-btn{
    float: right;
}
.picview-btn{
    background-color: #3333;
    border: none;
    padding:3%;
    border-radius: 5px;
}
.card-add-btn{
    margin-top: 2%;
}

.form-group {
    margin-bottom: 15px;
}

.form-control{
    height: 46px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 6px;
}

.btn{
    color: #ffffff;
    background-color: #337ab7;
    border-color: #2e6da4;
}

.card{
    width: 100%;
    padding: 10px;
    line-height: 20px;
    border-radius: 5px;
    overflow: hidden;
    background-color: #fff;
    margin-top: 10px;
}
.card p:first-of-type{
    font-weight: bold;
}
.card p{
    width: 100%;
    white-space: normal;
}
.card img{
    margin-bottom: 10px;
}

#image_area{
    width:500px;
    height: 300px;
    line-height: 300px;
    background-color:#ddd;
    font-size:30px;
    font-weight: bold;
    color:#aaa;
    text-align: center;
    border:2px dashed #ccc;
}

input[type="button"].active{
    background-color: #0079bf;
    color:white;
}

#photoViewBg{
    width:100%;
    height: 100%;
    background-color: rgba(0,0,0,.8);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}
#photoViewImage{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#close-btn{
    width: 100px;
    height: 100px;

    font-size:30px;
    font-weight: bold;

    position: fixed;
    top: 50px;
    right: 100px;
}
#prev-btn{
    border:none;
    background-color: transparent;
    font-size:200px;
    font-weight: bold;
    color: white;

    position: fixed;
    top: 50%;
    left:50px;
    transform:translateY(-55%);
}
#next-btn{
    border:none;
    background-color: transparent;
    font-family: "Malgun Gothic";
    font-size:200px;
    font-weight: bold;
    color: white;

    position: fixed;
    top: 50%;
    right:50px;
    transform:translateY(-55%);
}
#photoViewPos{
    list-style-type: none;
    position: fixed;
    bottom:50px;
    left:50%;
    transform:translateX(-50%);
}
#photoViewPos li{
    width:30px;
    height:30px;
    float:left;
    margin: 0 10px;
    border-radius: 100%;
    border:3px solid #fff;
    cursor: pointer;
}
#photoViewPos li.active{
    background-color:white;
}
#photoViewSel{
    padding:20px 30px;
    border-radius: 10px;
    position: fixed;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
}